__pycache__/
build/
dist/
.eggs/
sciopy.egg-info/
.ipynb_checkpoints
.ipynb
developing.ipynb
update_package.sh
update_test_pypi.sh
tst_smpls
.vscode
3dgeo
3dgeo/*
32_electrodes.ipynb
examples/npz_to_csv_enderstat.py
examples/npz_to_csv.py
examples/measuremet_16/*
examples/measuremet_32/*